<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="css/style.css" />
    <style>
        body        { padding-top:5px;
                       background:rgb(38, 38, 38);
         }
    </style>
</head>
<body>
	<body id="home">
<div class="container" >

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Add-Article </h1>

 <form action="add-articleform" method="POST" class="form-group">
         <div class="form-group">
            <label>title:</label>
            <input type="text" name="title" class="form-control">
        </div>
        <div class="form-group">
            <label> text: </label>
            <input type="text" class="form-control"name="text">
        </div>
        <div class="form-group">
            <label> Description:</label>
            <input type="text" class="form-control"name="description">
        </div>
       
         <div class="form-group">
            <label>  Author:</label>
            <input type="text" class="form-control"name="Author">
        </div>
         <div class="form-group">
            <label> createDate:</label>
            <input type="text" class="form-control"name="createDate">
        </div>
          <div class="form-group">
            <label>  file:</label>
            <button type="file" name="file"> Image </button>
        </div>
        <button type="submit" class="btn btn-warning btn-lg"> ADD </button>
    </form>

  

     
    

</div>

</div>


              


 