 <!DOCTYPE html>
 <html>
    <head> 
	 <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/nivo-slider.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/css/default/default.css" type="text/css" media="screen" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
     
      
	<title>readmore</title>
	<style>
            body{
	 background:rgb(38, 38, 38);
}
 			.rda{
 				flex-grow: 1 ; 
				font-size: 12px;   
				 
			}
			.da{
			margin-top: 15px;
		}
	</style>
     </head>
	<body id="home"> 	
		<div id="wrapper">
		
			<!--__--__--__--__--__--  L O G O  &   N A V    B A R --__--___--__--__--__-->
 			<header>
				<div id="logo">
 				<h1>Articles <span id="iisrt"><span id="ii">II</span>  <span id="srt">Article</span></span></h1>
			<div id="tagline">
				<h2> blog for write and read  article  !</h2>
				</div>
				</div>			<nav>
				<ul>
						
						<li><a href="/addarticle" id="homenav"> I want to add</a></li>
                       <li><a href="/article">Contact</a></li>
						<li><a href="/login">About</a></li>
</ul>
 				</nav>
 			</header>
			
<!--__--__--__--__--  M A I N   C O N T E N T  --__--__--__--___--__--__-->
	<h1 style="margin-top: 100px;color:#b82924;">Show articles</h1>
			<section style="color: white;margin-top: 50px;font-size: 30px">
			<img style="width: 100%;height: 200px;" src="<%=article.image%>" />
			<p>Title: <%=article.title%></p>
			<p class="mg">Description:</p>
			<p style="font-size: 20px; width: 100%;height: 200px"><%=article.description%></p>
			</section>
			<!--__--__--__--__--  T H E    F O O T E R --__--__--__--___--__--__--__--> 			
			<footer>
				<p>Copyright &copy 2019 <a href="http://geeksband.com">Geeksband.com</a> All Rights Reserved.</p>
 			</footer>
 		</div>			
 	</body>
 </html>
		
		
			
    
    